body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("images/pic.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("images/picdwa.jpg");
    min-height: 100%;
}

.bgimg-3 {
    background-image: url("images/pictrzy.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #2C3E50;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.div1 {
    color: #777;
    background-color: #2C3E50;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.h3paral {
    text-align: center;
}

.div2 {
    color: #2C3E50;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.div3 {
    color: #2C3E50;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.border {
    background-color: transparent;
    font-size: 25px;
    color: #2C3E50;
}

.galleryPicture {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.galleryDiv {
    background-color: #1a242f;
    margin-left: 20%;
    margin-right: 20%;
}

.picTitle {
    margin-top: 10%;
    background-color: #2C3E50;
}

.body {
    background-color: #2C3E50;
}

.myH1 {
    margin-left: 0px;
    margin-top: 10%;
    margin-bottom: 0px;
    color: #325577;
}

.whole {
    background-color: #325577;
}

.html {
    background-color: #2C3E50;
}

.tracks {
    background-color: #325577;
}

.commentText {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    color: #325577;
    display: flex;
}

.username {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    color: #304b6c;
}

.comment {
    margin-left: 10%;
    margin-right: 10%;
    border-color: #304b6c;
    border: solid 5px;
}

.accordionComment {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordionComment.active, .accordionComment:hover {
    background-color: #ddd;
}

.accordionComment:after {
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.comcom{
    width: 90%;
    margin-left: 10%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.comcom {
    padding: 0 18px;
    background-color: #0e4a77;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordionComment:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordionComment.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.free{
    height: 15px;
    background-color: #2C3E50;
}